Pygments==1.6
mock==2.0.0
setuptools==3.3
AppKit==0.2.8
Foundation==0.1.0a0.dev1
Image==1.5.17
Leap==2014.1
Mailman==3.1.1
Numeric==24.2
PyOpenGL==3.1.1a1
Pillow==5.0.0
bsddb3==6.2.5
cl==0.0.3
pyenchant==2.0.0
gestalt==0.0.1
gi==1.2
gobject==0.1.0
java==0.0.1
nose==1.3.7
nt==0.0.0
pretty==0.1
pyglet==1.4.0a1
redis==2.10.6
usercustomize==1.0.0
win32gui==221.6
